**/output/*
*.zx0
*.bin
*.tap
*.pdf
src/bin/zxbasic/*
*.tmp.png
*.tmp.png.scr
dist
*.tiled-session
.vscode
**/venv/*
Spectral.sav
*.z80
src/bin/.Spectral/*
**/__pycache__/*
*.gif
src/boriel/lib/Sprites.zxbas
src/boriel/lib/sprites.bas
src/ui/sprites.png
src/sprites.png
src/tiles.png

# MacOS
.DS_Store

#Exceptions
!.gitignore
!.gitkeep
!assets/fx/fx.tap
!src/bin/vtplayer.tap
!assets/music/music.tap
!assets/music/music2.tap
!assets/music/music3.tap
!assets/music/ending.tap
!assets/music/gameover.tap
!src/bin/loader.bin
